.about-list {
  text-align: left;
  margin-left: 2vw;
}

.about-resources-link {
  display: inline-block;
  padding: 2% 10% 2% 10%;
  font-family: 'Poppins';
}

#project-link-title {
  padding-bottom: 8%;
}

.about-resources-icon {
  width: 250px;
  height: 250px;
  transition: all ease-out 0.35s;
}

.about-resources-icon:hover {
  transform: translateY(-15px);
}

.about-title {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3em;
  padding: 30px 0 10px 0;
}

.about-subtitle {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  text-align: left;
}

.title-spacer {
  margin: auto !important;
  width: 5% !important;
  height: 6px !important;
  border-radius: 20px;
  color: rgb(110, 94, 254);
  opacity: 1;
}

@media screen and (max-width: 900px) {

  .title-spacer {
    width: 15% !important;
  }

  hr.mb-4.spacer.spacer {
    width: 25%;
  }
}

.about-description {
  text-align: justify;
  font-family: 'Akshar', 'Georgia', 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
  color: rgb(75, 75, 75);
}

hr.mb-4.spacer {
  margin-left: 15px;
  width: 15%;
  height: 4px !important;
  border-radius: 20px;
  color: rgb(110, 94, 254);
  opacity: 1;
}

span.dot {
  height: 4px;
  width: 6px;
  background-color: rgb(110, 94, 254);
  border-radius: 50px !important;
  margin-left: 5px;
}

#members-cards {
  padding: 5px 0 30px 0;
}

Table {
  width: 100%;
}

thead {
  background: #6c7ae0;
  justify-content: space-around;
  font-family: 'Poppins', serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

thead > td {
  padding: 17px 0 17px 0;
}

thead > td#right-end{
  border-top-right-radius: 10px;
}

thead > td#left-end{
  border-top-left-radius: 10px;
}

tbody > tr {
  border-bottom: 1px solid #f2f2f2;
  transition: 0.2s ease;
  line-height: 2.7;
  font-family: 'Lato', 'Georgia', 'Times New Roman', Times, serif;
}

td {
  margin: 17px 0 17px 0;
}

tbody > tr:hover {
  background-color: #ececff;
}

.no-hover {
  pointer-events: none;
}

.gitlab-info {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.gitlab-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}
.gitlab-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}
.gitlab-info h2 a span {
  color: #6c7ae0;
  font-weight: bold;
  font-size: 30px;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}
.gitlab-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}
.gitlab-info h2 a:hover {
  background-color: #f2f2f2;
}
.gitlab-info h2 a:hover span {
  color: #6c7ae0;
}

.dev-btn button {
  color: inherit;
  font-size: small;
  background-color: #6c7ae0;
  color: aliceblue;
  width: 25%;
  border: none;
  margin: 1vh 0.5vh 0 0.5vh;
  padding: 0.5rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 350ms cubic-bezier(0.15, 0.85, 0.30, 1.30);
}
.dev-btn button:hover {
  transform: scale(1.1);
}
.dev-btn button:active {
  background-color: #9d4edd;
  transform: scale(1);
}

.role-pill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6c7ae0;
  color: #ececff;
  margin-bottom: 10px;
}

.dev-img {
  transition: all 0.4s;
}

.dev-img:hover {
  cursor: pointer;
  transform: scale(1.075);
}
