.dev-card {
  display: inline;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  width: 15vw !important;
}

.dev-photo {
  width: 10vw;
  height: 25vh;
}

.dev-photo-container {
  background-color: rgb(52, 0, 150);
}

.dev-header {
  width: 20vw;
  background-color: rgb(52, 0, 150);
}

.dev-header-content {
  color: white !important;
}

.dev-item {
  width: 10vw;
  text-align: left;
}

div.card {
  border-radius: 0.6em;
  box-shadow: 0 0.35em 2.5em -0.6em rgba(170, 170, 170, 0.2);
}

.data-card {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  max-width: 21em;
  min-height: 21em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: #fff;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 0.35em 2.5em -0.6em rgba(70, 70, 70, 0.2);
  transition: transform 0.45s ease, background 0.45s ease;
}

.data-card h3 {
  color: #50595c;
  font-size: 3em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.15em;
  border-bottom: 2px solid #753BBD;
  transition: color 0.45s ease, border 0.45s ease;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 0.3em 0 1.8em;
  transition: color 0.45s ease;
}

.data-card p {
  opacity: 0;
  color: #fff;
  font-weight: 500;
  line-height: 1.7;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}

.data-card .link-text {
  display: block;
  color: #753BBD;
  font-size: 1.05em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
  margin: auto 0 0;
  transition: color 0.45s ease;
}

.data-card:hover {
  background: #9f5df0;
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #fff;
}

.data-card:hover h4 {
  color: #fff;
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

.data-card:hover .link-text {
  color: #fff;
}

.gitlab-arrow {
  font-size: 1.2em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
