.visual-skelton {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .visual-skelton {
    width: 300px !important;
    height: 300px !important;
  }
}
