.visualization {
  margin-left: auto;
  margin-right: auto;
}

.recharts-wrapper {
  margin : 0 auto;
}

#visualization-title {
  margin: 1.5em 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

#visualization-subtitle {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 1rem;
}

#bar-charts {
  height: 700px !important;
}

#bubble-map {
  height: 400px !important;
  width: 80% !important;
}

#pie-chart {
  height: 650px !important;
  width: 100% !important;
}

#gerry-demo {
  flex-direction: row;
}

#gerry-demo-subtitle {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 21px;
}

#gerry-scatter {
  width: 100% !important;
  height: 600px !important;
  margin-bottom: 40px !important;
}

@media screen and (max-width: 900px) {

  #visualization-subtitle {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  #bar-charts {
    height: 400px !important;
    width: 95% !important;
  }

  #bubble-map {
    height: 400px !important;
    width: 95% !important;
  }

  #pie-chart {
    height: 600px !important;
    width: 140% !important; 
    transform: translateX(-15%) scale(0.65);
  }

  #gerry-scatter {
    width: 95% !important;
    height: 500px !important;
    transform: scale(0.95);
  }
}
