#error-title {
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.3em;
}

.error-sub {
  margin-top: 10px;
  line-height: 0.8em;
  font-family: 'Bahnschrift SemiBold', sans-serif;
  color: rgb(160, 160, 160);
}

#error-home-btn {
  margin-top: 20px;
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  background-color: #6F5CFC;
  transition: all 0.25s;
}

#error-home-btn:hover {
  background-color: #5343C2;
}

#error-lottie {
  width: 800px;
  height: 750px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  #error-lottie {
    width: 400px;
    height: 400px;
  }

  #error-home-btn {
    margin-bottom: 5%;
  }
}