#culture-title-skeleton {
  margin: 0 auto;
  margin-top: 10px;
}

.culture-block-skeleton {
  margin: 20px 0 20px 0;
}

#culture-produce-skeleton {
  margin-bottom: 30px;
}

#recipe-title-skeleton {
  margin: 0 auto;
  margin-top: 10px;
}

#restaurant-title-skeleton {
  margin: 0 auto;
}

#ingredient-title-skeleton {
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  #links-skeleton {
    margin-bottom: 3vh;
  }

  #recipe-title-skeleton {
    max-width: 100%;
  }

  .culture-block-skeleton {
    max-width: 100%;
    min-height: 50%;
  }

  #attr-table {
    margin-bottom: 5vh;
  }

  .graphs-skeleton {
    display: none !important;
  }
}