#Box {
  margin-top: 30px;
  color: rgb(102, 16, 242);
  /* background-image: linear-gradient(360deg, rgb(110, 94, 254), rgb(73, 63, 252)); */
  background-color: white;
}

#Box a {
  color: black;
}

#footerTitle {
  color: rgb(102, 16, 242);
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Square Peg', sans-serif;
  font-size: 75px;
}

#copyRightsSection {
  background-color: #f5f6f7;
  padding: 20px 0 50px 0;
}

#copyRights {
  text-align: left;
  color: black;
  font-family: 'Poppins', sans-serif;
}

#footer-link {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.FooterSubheader {
  font-size: larger;
  font-family: 'Poppins', Times, serif;
  font-weight: 600;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  #footerTitle {
    font-size: 55px;  
  }

  #footer-link {
    font-size: 15px !important;
  }

  #copyRights {
    margin-top: 10px;
    font-size: 13px;
  }
}