@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600&family=Lato:wght@300;400&family=Noto+Sans:wght@300;400;500;600&family=Poppins:wght@400;500;600;700;800&family=Roboto&family=Rubik:wght@300;400;500;600&family=Source+Sans+Pro:wght@300;400;600&family=Square+Peg&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.active {
  background: rgba(255, 255, 255, 0.15);
}

#title {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

::selection {
  background: rgb(110, 94, 254);
  color: white;
}

#landingTitle {
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  padding: 0 0 1vh 0;
  font-weight: 600;
  line-height: 1.3em;
}

.landingSubtitle {
  margin-top: 10px;
  line-height: 1.65em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: rgb(138, 138, 138);
}

.buttons {
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 900px) {
  #landingTitle {
    padding: 5vh 0 1vh 0;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.3em;
  }

  .landingSubtitle {
    font-size: 15px;
  }

  #plate {
    max-width: 400px;
  }

  #sectionTwoImg {
    max-width: 300px;
    max-height: 500px;
  }

  #flyingCake {
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    transform: scale(0.9);
  }

  .buttons.second-section {
    margin: 0;
  }

  #homeSectionTwo {
    padding-bottom: 10%;
  }

  #sectionTwoTitle {
    font-size: 40px !important;
    max-height: 350px;
    transform: translate(0, -70px);
  }

  #break-phrase {
    font-size: 65px !important;
  }
}

#primary-btn {
  margin-right: 10px;
  border-radius: 9px;
  background-color: rgb(110, 94, 254);
  border-color: rgb(110, 94, 254);
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

#primary-btn:hover {
  border-color: rgb(110, 94, 254);
  color: rgb(110, 94, 254);
  background-color: white;
  transform: translateY(-0.35em);
}

#sec-btn {
  margin-left: 10px;
  border-radius: 9px;
  color: rgb(110, 94, 254);
  border-color: rgb(110, 94, 254);
  transition: all ease-in-out 0.3s;
}

#sec-btn:hover {
  background-color: rgb(110, 94, 254);
  border-color: white;
  color: white;
  transform: translateY(-0.35em);
}

#restaurantImg {
  max-width: 800px;
  max-height: 500px;
  margin-top: 25px;
  border-radius: 20px;
}

 :link {
  text-decoration: none;
  color: #0074d9;
}

.underlined-links {
  text-align: left;
  position: relative;
}

.underlined-links::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  right: 0;
  bottom: 0;
  background-color: #0074d9;
  transition: width 0.5s cubic-bezier(0.53, 0.36, 0.17, 0.98);
}

@media (hover: hover) and (pointer: fine) {
  .underlined-links:hover::before {
    left: 0;
    width: 100%;
  }
}

.links {
  color: #5C6FF5;
  font-family: Graphik Bold Subset, Graphik, Tahoma, Verdana, Segoe, sans-serif;
  background-image: linear-gradient(#eeecff, #eeecff);
  font-weight: 600;
  font-size: 15px;
  background-size: 0% 1em;
  background-position-y: 50%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.35s ease-in-out;
  text-decoration: none;
}
.links:hover, .links:focus, .links:active {
  background-size: 100% 1em;
  color: #5C6FF5;
}

a {
  text-decoration: none;
}


#homeSectionTwo {
  background-color: #f5f6f7 !important;
}

#sectionTwoTitle {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  padding-top: 50%;
}

#break-phrase {
  color: #6610f2;
  font-family: 'Square Peg', sans-serif;
  font-size: 100px
}

::-webkit-scrollbar {
    width: 12px;
    height: 30px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }