#search-model-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.submit-button {
  display: flex;
  justify-content: center;  
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.search-filter-label {
  font-family: 'Poppins', sans-serif;
}

.pagination-element {
  margin-left: 1vw;
  margin-right: 1vw;
}

.no-hover {
  pointer-events: none;
}

.highlightedSearchTerms {
  background-color:gold;
}

.instance-name {
  color: #5C6FF5 !important;
  font-family: Graphik Bold Subset, Graphik, Tahoma, Verdana, Segoe, sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}

.sortin-btn.btn-primary {
  background-color: transparent;
  border-color: transparent;
}

.sortin-btn.btn-primary:hover {
  background-color: #949CFE;
  border-color: transparent;
}

tbody > tr#search-page-table-row {
  cursor: pointer;
}

.generic-primary-btn {
  background-color: #6c7ae0 !important;
  border-color: #6c7ae0 !important;
}

.generic-primary-btn:hover {
  background-color: rgb(75, 90, 206) !important;
}

#recipe-category {
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  #submit-button {
    margin-top: 20px;
  }

  .search-filter-label {
    display: none;
  }

  thead > td {
    font-size: 14px;
    padding: 5px 0 5px 0;
  }

  tbody > tr > td {
    font-size: 12px;
  }
}