.parent {
  border-radius: 25px;
  border: 1px solid rgb(56, 56, 56);
  margin: 1rem;
  padding: 1rem 1rem;
}

.countryMap {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.flag {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.cultureName {
  font-family: 'Rubik', sans-serif;
}

#cultureName {
  margin: 20px
}

#culture-description {
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
  color: rgb(75, 75, 75);
}

#culture-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

#culture-produce {
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

#culture-produce ~ li {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

#culture-links-title {
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

#recipeName {
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#recipe-type {
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

#recipe-description {
  text-align: left;
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
  color: rgb(75, 75, 75);
}

.cookTime {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#cookTimeImg {
  display: flex;
  justify-content: right;
  align-content: right;
  font-size: 1.6rem;
}

#recipe-ingredients {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  border: 2px;
  border-style: solid;
  border-color: #fff;
  -moz-box-shadow: 0 0 5px rgb(219, 219, 219);
  -webkit-box-shadow: 0 0 5px rgb(219, 219, 219);
  box-shadow: 0 0 15px rgb(219, 219, 219);
  padding: 40px;
  border-radius: 30px;
  max-width: 35%;
  transform: translateX(25%);
  margin-bottom: 2%;
}

#ing-title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  color: rgb(73, 63, 252);
}

#overview-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

#overview {
  text-align: justify;
  font-family: 'Akshar', sans-serif;
  font-size: 19px;
  color: rgb(75, 75, 75);
}

#timeNum {
  text-align: left;
  align-items: left;
  justify-content: left;
  align-content: left;
}

#restaurantInfo {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#details-border {
  border: 2px;
  border-style: solid;
  border-color: #fff;
  -moz-box-shadow: 0 0 5px rgb(199, 199, 199);
  -webkit-box-shadow: 0 0 5px rgb(199, 199, 199);
  box-shadow: 0 0 15px rgb(199, 199, 199);
  padding: 40px;
  border-radius: 30px;
}

.food-badges {
  max-width: 35px;
  max-height: 35px;
  transform: translateY(-5px);
}

.cookTimeNum {
  padding-top: 40px;
  color: #0FAE79;
  font-size: 25px;
  font-family: "Trebuchet MS", sans-serif;
}

#instance-culture {
  font-size: large;
  font-style: italic;
}

.flagImg {
  max-height: 300px;
}

#recipe-img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 15px;
}

#single-row-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#restImg img {
  width: 100%;
  height: auto;
}

#restName {
  font-size: xx-large;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 1vh;
}

#rest-info {
  font-family: 'Poppins', sans-serif;
}

#restInfoIcons {
  font-size: 1.2rem;
  margin-right: 10px;
}

#rest-description {
  padding-top: 5px;
  font-family: 'Akshar', sans-serif;
  font-size: 19px;
  color: rgb(75, 75, 75);
}

#rest-attr {
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

#rest-review-border {
  border: 2px;
  border-style: solid;
  border-color: #fff;
  -moz-box-shadow: 0 0 5px rgb(199, 199, 199);
  -webkit-box-shadow: 0 0 5px rgb(199, 199, 199);
  box-shadow: 0 0 15px rgb(199, 199, 199);
  padding: 40px;
  border-radius: 30px;
  margin-bottom: 4%;
  margin-right: 2%;
}

#rest-review {
  padding: 0 0 0 20px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#ingredient-container {
  margin-bottom: 100px;
}

#ingredient-title {
  font-family: 'Poppins', sans-serif;
  padding: 25px 0 25px 0; 
}

.ing-subtitle {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ingredient-price {
  color: #0FAE79;
  font-size: 25px;
  transition: all ease-in 0.3s, sans-serif;
  font-family: 'Poppins', sans-serif;
  max-width: max-content;
}

#ingredient-img {
  max-width: 350px;
  max-width: 350px;
  padding: 50px 0 65px 0;
}

.ingredient-details {
  padding: 0 0 0 20px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#ing-desc-title {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgb(73, 63, 252);
}

#ing-desc {
  font-family: 'Akshar', sans-serif;
  font-size: 19px;
  color: rgb(65, 65, 65);
}

#nut-facts {
  font-family: 'Poppins', sans-serif;
}

#ingredient-graphs {
  padding: 50px 0 0 0; 
}

@media screen and (max-width: 900px) {

  .countryMap {
    height: 25vh;
  }

  .flag {
    max-height: 25%;
  }

  .flagImg {
    max-width: 350px;
    max-height: 225px;
  }

  #culture-details {
    margin-top: 3vh;
  }

  #cultureName {
    margin: 15px 0 ;
  }

  #culture-links {
    margin-left: 0.8rem;
  }

  #recipe-img {
    margin-top: 2vh;
    max-width: 300px;
  }

  .cookTimeNum {
    margin-bottom: 2vh;
  }

  #recipe-link {
    margin-top: 3vh;
  }
  
  #recipe-ingredients {
    max-width: 100%;
    margin: 1rem 2rem;
    transform: none;
  }

  #restaurantImg {
    max-width: 275px;
    max-height: 350px;
  }

  #map {
    min-height: 30vh;
  }

  #rest-info {
    display: flex;
    flex-direction: column;
    margin: 1vh 0 2vh 0;
  }

  #separator {
    display: none;
  }

  .ingredient-details {
    padding: 2vh 0 2vh 0;
  }

  #ingredient-graphs {
    display: none;
  }

  .food-badges {
    max-width: 50px !important;
    max-height: 30px !important;
    transform: translateY(0.01rem);
  }

  #ingredient-price {
    padding: 0;
  }
}