.search-title-skeleton {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sort-forms-div-skeleton {
  padding: 50px 0 30px 0;
}

.sort-forms-skeleton {
  margin: 0 auto;
  padding: 40px;
}

#pagination-btn-skeleton {
  margin: 0 auto;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .searchbar-skeleton {
    max-width: 100%;
  }

  .searchbar-btn-skeleton {
    margin: 0 auto;
  }

  .sort-forms-skeleton {
    max-width: 100%;
  } 
}